.MediaCardContainer{
    max-width: 110px;
    margin: auto;
}
.MediaCardImage{
    height: 100px !important;
    width: 100px;
    max-width: 200px;
}
.MediaCardDescription{
    height: 50px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}